$accent-color: #3F51B5;
$background-color: #fcf5e4;
$wrapper-color: white;

body{
    font-family: sans-serif;
    line-height: 140%;
    font-size: 16pt;
    // background-image: url("../images/herringbone.png");
    background-color: #fcf5e4;
    background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
    overflow-x:hidden;
}

header{
    height: 200px;
    background-color: $accent-color;
    position: relative;
    border-bottom: 1px solid darken($accent-color, 10%);

    h1{
        text-indent: -9999px;
        height: 220px;
        width: 550px;
        margin-left: 5%;
        background: url("../images/nellielogo.png") no-repeat;
        
        a{
            display: block;
            position: absolute;
            top: 0;
            height: 200px;
            width: 550px;
        }
    }

    nav{
        position: absolute;
        bottom: 0;
        right: 0;
        width: calc(100%/2);
        height: 100px;

        ul{
            display: flex;
            justify-content: space-around;

            li{
                text-indent: -9999px;
                position: relative;

                a{
                    // position: absolute;
                    display: block;
                    height: 100px;
                    width: calc(700px/3);
                }

                a:hover{
                    background-color: rgba(128, 128, 128, 0.39);
                }
                
            }

            .current{
                background-color: rgba(255, 255, 255, 0.288);
            }

            .about{
                background: url("../images/about.png")no-repeat;
            }

            .portfolio{
                background: url("../images/portfolio.png") no-repeat;
            }

            .contact{
                background: url("../images/contact.png") no-repeat;
            }
        }
    }
}

.wrapper{
    width: 960px;
    margin: 3% auto -50px auto;
    padding: 5%;
    background-color: $wrapper-color;
    height: 500px;
    border-radius: 3%;
    border: 1px solid lightgray;

    h2{
        font-weight: bold;
        font-size: 30pt;
        color: $accent-color;
        //  rgb(36, 45, 97)
        padding-bottom: 2%;
        // border-bottom: 1px solid grey;
    }

    img{
        border-radius: 50%;
        border: 20px solid transparent;
        float: left;
        shape-outside: circle(50%);
    }

    p{
        margin-top: 20px;
    }

    // portfolio images
    .project{
            position: relative;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            overflow:hidden;

            float: left;
            margin: calc(calc(1100px - 2*74px - 250px*3)/6);

        img{
            width: 250px;
            border: none;
        }
        div{
            position: absolute;
            bottom: 50px;
            width: 100%;
            background-color: rgba(63, 81, 181, 0.801);
            color: white;
            font-weight: bolder;
            text-align: center;
            font-size: 25pt;
            padding: 5px;
        }
    }

    form{
        legend{
            font-weight: bold;
            font-size: 30pt;
            color: $accent-color;
            padding-bottom: 2%;
        }

        input[type=text], textarea{
            width: 100%;
            margin: 8px 0;
        }

        button{
            background-color: $accent-color;
            color: white;
            font-size: 16pt;
            border: none;
            padding: 5px;
            margin-top: 10px;
        }

    }

}

footer{
    height: 80px;
    width: 100%;
    background-color: $background-color;
    border-top: 10px solid $accent-color;
    text-align: center;
    //need to add sticky footer
}